.card {
  max-width: 100%;
  background-color: #6f778a;
  border-radius: 5px;
  overflow: hidden;
}

.carousel {
  overflow: hidden;
  height: 13.3rem;
  cursor: pointer;
}

.carousel img {
  background-size: cover;
}

.title-container {
  padding: 0.8em 2em;
  font-size: 1.25rem;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 990;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.backdrop h1 {
  position: fixed;
  top: 5px;
  right: 20px;
  cursor: pointer;
  color: var(--solid-white);
  font-weight: 400;
}

.backdrop h1:hover {
  color: rgb(224, 224, 224);
}

.carousel-backdrop {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .carousel {
    height: 13.3rem;
  }
}
