@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  /*Neutral color*/
  --layout-width: 67.5rem;
  --solid-white: #f8f9fa;
  --gray-100: #e9ecef;
  --gray-200: #dee2e6;
  --gray-300: #ced4da;
  --gray-400: #adb5bd;
  --gray-500: #6c757d;
  --gray-600: #495057;
  --gray-700: #343a40;
  --solid-black: #212529;
  --dark-blue: #023047;
  --medium-blue: #219ebc;
  --light-blue: #8ecae6;
  --soft-yellow: #ffb703;
  --soft-orange: #fb8500;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth; /* Smoothly animate to different sections within a page, only if the user doesn't mind animations */
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  min-height: 100%;
  background-color: var(--solid-white);
  color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 700;
  line-height: 1.1;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  margin-top: 0;
  text-decoration: none;
}

a,
button {
  touch-action: manipulation; /* Element doesn't want double-tap on mobile to zoom */
}

image {
  max-width: 100%;
}
