.page-layout {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-layout main {
  flex: 1;
  width: 100%;
  margin-top: 3.5em;
}

@media (min-width: 900px) {
  .page-layout main {
    margin-top: 5em;
  }
}
